/* VARIABLES */


/* FONT FAMILY */

$ojh-body-font: 'Roboto', sans-serif;


/* COLORS */

$ojh-blue: #00c0ff;
$ojh-blue-background:#52bff9;
$ojh-orange: #f4ad3d;
$ojh-red: #FF5733;

$ojh-white: #ffffff;
$ojh-light-gray: #f7f7f7;
$ojh-gray: #7a7a7a;
$ojh-medium-gray: #5c5c5c;
$ojh-dark-gray: #484f5e;