/* GENERAL STYLES */

/* CHARSET */
@charset "UTF-8";

/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=latin-ext");

/* HEADLINES */
h1 {
    text-align: center;
    color: #484f5e;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
}

@media (min-device-width: 576px) {
    h1 {
        font-size: 2rem;
    }
}

@media (min-device-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

@media (min-device-width: 1200px) {
    h1 {
        font-size: 2rem;
    }
}

p + p {
    margin-top: 1rem;
}

/* LINKS */
a {
    outline: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

a:hover {
    text-decoration: none;
}

a:focus, a:active {
    text-decoration: none;
    outline: 0;
}

/* INPUT */
input:focus {
    outline: none;
    box-shadow: none;
}

/* INTRO */
/* FORM ELEMEMTS */
/* PROGRESS INDICATOR */
#ojh-risk-indicator-wrapper {
    width: 100%;
}

#ojh-risk-indicator-wrapper .ojh-progress-indicator {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    width: 100%;
}

#ojh-risk-indicator-wrapper .ojh-progress-indicator .ojh-progress-indicator__step {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    color: #7a7a7a;
    font-family: "Roboto", sans-serif;
    font-size: 1.625rem;
    line-height: 1;
    font-weight: 400;
    text-transform: none;
}

#ojh-risk-indicator-wrapper .ojh-progress-indicator .ojh-progress-indicator__step.ojh-progress-indicator__step--active {
    color: #00c0ff;
}

#ojh-risk-indicator-wrapper .ojh-progress-indicator .ojh-progress-indicator__step + .ojh-progress-indicator__step:before {
    content: '';
    position: absolute;
    top: calc(1.25rem - 0.3125rem / 2);
    left: -1.25em;
    width: 1.875rem;
    height: 0.1875rem;
    background: #7a7a7a;
}

#ojh-risk-indicator-wrapper .ojh-progress-indicator .ojh-progress-indicator__step--active + .ojh-progress-indicator__step--active:before {
    background: #00c0ff;
}

#watu_quiz {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    margin-top: 2.5rem;
    width: 100%;
    /* QUESTIONS AND ANSWERS */
}

#watu_quiz .quiz-form {
    width: 100%;
    margin-bottom: 2.5rem;
    /* PAGINATION */
    /* Previous step */
    /* Next step */
    /* Disabled */
}

#watu_quiz .quiz-form .watu-question {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* QUESTION */
    /* ANSWER */
}

#watu_quiz .quiz-form .watu-question .question-content {
    flex: 0 0 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #00c0ff;
    padding: 1.25rem 0.625rem;
}

#watu_quiz .quiz-form .watu-question .question-content p {
    position: relative;
    text-align: center;
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: none;
    flex: auto;
    text-align: center;
}

#watu_quiz .quiz-form .watu-question .question-content p .watu_num {
    position: absolute;
    left: 0.625rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.875rem;
    line-height: 1;
    font-weight: 700;
    text-transform: none;
    text-align: center;
}

#watu_quiz .quiz-form .watu-question div:not([class]) {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-align-self: flex-start;
    -o-align-self: flex-start;
    align-self: flex-start;
    flex: 0 0 24.0625rem;
    height: 2.5rem;
    text-align: center;
    margin-top: 1.25rem;
    padding: 0.625rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
    -webkit-box-shadow: -3px 3px 3px -2px rgba(122, 122, 122, 0.5);
    -moz-box-shadow: -3px 3px 3px -2px rgba(122, 122, 122, 0.5);
    box-shadow: -3px 3px 3px -2px rgba(122, 122, 122, 0.5);
    white-space: nowrap;
}

#watu_quiz .quiz-form .watu-question div:not([class]) input[type=radio] {
    display: none !important;
}

#watu_quiz .quiz-form .watu-question div:not([class]) label {
    display: inline-block !important;
    width: 100%;
}

#watu_quiz .quiz-form .watu-question div:not([class]) {
    color: #5c5c5c;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: none;
}

#watu_quiz .quiz-form .watu-question div:not([class]):hover {
    background-color: #7a7a7a;
}

#watu_quiz .quiz-form .watu-question div:not([class]):hover {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: none;
}

#watu_quiz .quiz-form .watu-question div:not([class]).checked {
    background-color: #7a7a7a;
}

#watu_quiz .quiz-form .watu-question div:not([class]).checked {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: none;
}

#watu_quiz .quiz-form .watu-question div:not([class]):nth-of-type(odd) {
    margin-left: 1.25rem;
}

#watu_quiz .quiz-form .watu-question + .watu-question {
    margin-top: 2.5rem;
}

#watu_quiz .quiz-form #prev-question-btn {
    display: inline-block;
    width: 24.0625rem;
    margin-top: 2.5rem;
    padding: 0.625rem 0;
    color: #5c5c5c;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form #prev-question-btn:hover {
    cursor: pointer;
    color: #00c0ff;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form #prev-question-btn.disabled:hover {
    color: #5c5c5c;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form #next-question-btn {
    display: inline-block;
    width: 24.0625rem;
    text-align: right;
    margin-top: 2.5rem;
    padding: 0.625rem 0;
    color: #00c0ff;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form #next-question-btn:hover {
    cursor: pointer;
    color: #00c0ff;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form #next-question-btn.disabled:hover {
    color: #00c0ff;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form .disabled {
    opacity: 0.2;
    cursor: not-allowed !important;
}

#watu_quiz .quiz-form .watu-question {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#watu_quiz .quiz-form .watu-question .question-content {
    flex: 0 0 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #00c0ff;
    padding: 1.25rem 0.625rem;
}

#watu_quiz .quiz-form .watu-question .question-content p {
    position: relative;
    text-align: center;
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: none;
    flex: auto;
    text-align: center;
}

#watu_quiz .quiz-form .watu-question .question-content p .watu_num {
    position: absolute;
    left: 0.625rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.875rem;
    line-height: 1;
    font-weight: 700;
    text-transform: none;
    text-align: center;
}

#watu_quiz .quiz-form .watu-question div:not([class]) {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-align-self: flex-start;
    -o-align-self: flex-start;
    align-self: flex-start;
    flex: 0 0 24.0625rem;
    height: 2.5rem;
    text-align: center;
    margin-top: 1.25rem;
    padding: 0.625rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    -ms-border-radius: 0.3125rem;
    -o-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
    -webkit-box-shadow: -3px 3px 3px -2px rgba(122, 122, 122, 0.5);
    -moz-box-shadow: -3px 3px 3px -2px rgba(122, 122, 122, 0.5);
    box-shadow: -3px 3px 3px -2px rgba(122, 122, 122, 0.5);
    white-space: nowrap;
}

#watu_quiz .quiz-form .watu-question div:not([class]) input[type=radio] {
    display: none !important;
}

#watu_quiz .quiz-form .watu-question div:not([class]) label {
    display: inline-block !important;
    width: 100%;
}

#watu_quiz .quiz-form .watu-question div:not([class]) {
    color: #5c5c5c;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: none;
}

#watu_quiz .quiz-form .watu-question div:not([class]):hover {
    background-color: #7a7a7a;
}

#watu_quiz .quiz-form .watu-question div:not([class]):hover {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: none;
}

#watu_quiz .quiz-form .watu-question div:not([class]).checked {
    background-color: #7a7a7a;
}

#watu_quiz .quiz-form .watu-question div:not([class]).checked {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: none;
}

#watu_quiz .quiz-form .watu-question div:not([class]):nth-of-type(odd) {
    margin-left: 1.25rem;
}

#watu_quiz .quiz-form .watu-question + .watu-question {
    margin-top: 2.5rem;
}

#watu_quiz .quiz-form #prev-question-btn {
    display: inline-block;
    width: 24.0625rem;
    margin-top: 2.5rem;
    padding: 0.625rem 0;
    color: #5c5c5c;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form #prev-question-btn:hover {
    cursor: pointer;
    color: #00c0ff;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form #prev-question-btn.disabled:hover {
    color: #5c5c5c;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form #next-question-btn {
    display: inline-block;
    width: 24.0625rem;
    text-align: right;
    margin-top: 2.5rem;
    padding: 0.625rem 0;
    color: #00c0ff;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    float: right;
}

#watu_quiz .quiz-form #next-question-btn:hover {
    cursor: pointer;
    color: #00c0ff;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form #next-question-btn.disabled:hover {
    color: #00c0ff;
    font-family: "Roboto", sans-serif;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

#watu_quiz .quiz-form .disabled {
    opacity: 0.2;
    cursor: not-allowed !important;
}

/* RESULTS */
.ojh-risk-calculator {
    width: 100%;
}

.ojh-risk-calculator .ojh-risk-calculator-results {
    width: 100%;
}

.ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress {
    -webkit-box-shadow: 2px 2px 2px 0px rgba(122, 122, 122, 0.5);
    -moz-box-shadow: 2px 2px 2px 0px rgba(122, 122, 122, 0.5);
    box-shadow: 2px 2px 2px 0px rgba(122, 122, 122, 0.5);
    margin: 20px auto;
    padding: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #ffffff;
}

.ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress .bar {
    position: relative;
    float: left;
    height: 100%;
}

.ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress.primary .bar {
    background: #52bff9;
}

.ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress.warning .bar {
    background: #f4ad3d;
}

.ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress.danger .bar {
    background: #FF5733;
}

.ojh-risk-calculator .ojh-risk-calculator-results-title {
    font-size: 17px;
    font-weight: 700;
    color: #52bff9;
    padding-bottom: 10px;
}

.ojh-risk-calculator .ojh-risk-calculator-results-description {
    font-size: 14px;
    font-weight: 700;
    color: #7a7a7a;
}