@charset "UTF-8";
/* MAIN STYLE */
/* GENERAL STYLES */
/* CHARSET */
/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=latin-ext");
/* HEADLINES */
h1, h2 {
  margin: 0; }

h1 {
  text-align: center;
  color: #484f5e;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase; }
  @media (min-device-width: 576px) {
    h1 {
      font-size: 2rem; } }
  @media (min-device-width: 768px) {
    h1 {
      font-size: 2rem; } }
  @media (min-device-width: 1200px) {
    h1 {
      font-size: 2rem; } }

h2 {
  color: #00c0ff;
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase; }
  @media (min-width: 576px) {
    h2 {
      font-size: 1.3125rem; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.3125rem; } }
  @media (min-width: 992px) {
    h2 {
      font-size: 1.3125rem; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 1.3125rem; } }

/* PARAGRAPHS */
p {
  color: #5c5c5c;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 500;
  text-transform: none;
  margin-bottom: 0; }
  @media (min-width: 576px) {
    p {
      font-size: 1.125rem; } }
  @media (min-width: 768px) {
    p {
      font-size: 1.125rem; } }
  @media (min-width: 992px) {
    p {
      font-size: 1.125rem; } }
  @media (min-width: 1200px) {
    p {
      font-size: 1.125rem; } }

p + p {
  margin-top: 1rem; }

/* LINKS */
a {
  outline: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  a:hover {
    text-decoration: none; }
  a:focus, a:active {
    text-decoration: none;
    outline: 0; }

/* INPUT */
input:focus {
  outline: none;
  box-shadow: none; }

#menubar .sitenav #menu-glavni-meni li a {
  padding: 1.125rem 1.25rem; }

/* INTRO */
/* FORM ELEMEMTS */
#ojh-risk-calculator {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  margin-top: 2.5rem;
  width: 100%;
  /* PROGRESS INDICATOR */
  /* QUESTIONS AND ANSWERS */
  /* PAGINATION */ }
  #ojh-risk-calculator .ojh-progress-indicator {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    width: 100%; }
    #ojh-risk-calculator .ojh-progress-indicator .ojh-progress-indicator__step {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      color: #7a7a7a;
      font-family: "Roboto", sans-serif;
      font-size: 1.625rem;
      line-height: 1;
      font-weight: 400;
      text-transform: none; }
      #ojh-risk-calculator .ojh-progress-indicator .ojh-progress-indicator__step.ojh-progress-indicator__step--active {
        color: #00c0ff; }
    #ojh-risk-calculator .ojh-progress-indicator .ojh-progress-indicator__step + .ojh-progress-indicator__step:before {
      content: '';
      position: absolute;
      top: calc(1.25rem - 0.3125rem/2);
      left: -1.25em;
      width: 1.875rem;
      height: 0.1875rem;
      background: #7a7a7a; }
    #ojh-risk-calculator .ojh-progress-indicator .ojh-progress-indicator__step--active + .ojh-progress-indicator__step--active:before {
      background: #00c0ff; }
  #ojh-risk-calculator .ojh-question-and-answers {
    width: 100%; }
    #ojh-risk-calculator .ojh-question-and-answers .ojh-question-and-answer {
      /* QUESTION */
      /* ANSWER */ }
      #ojh-risk-calculator .ojh-question-and-answers .ojh-question-and-answer .ojh-question {
        position: relative;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        background-color: #00c0ff;
        padding: 1.25rem 0.625rem;
        margin-bottom: 1.25rem; }
        #ojh-risk-calculator .ojh-question-and-answers .ojh-question-and-answer .ojh-question .ojh-question__number {
          color: #ffffff;
          font-family: "Roboto", sans-serif;
          font-size: 1.875rem;
          line-height: 1;
          font-weight: 700;
          text-transform: none;
          text-align: center; }
        #ojh-risk-calculator .ojh-question-and-answers .ojh-question-and-answer .ojh-question .ojh-question__text {
          color: #ffffff;
          font-family: "Roboto", sans-serif;
          font-size: 0.875rem;
          line-height: 1.2;
          font-weight: 500;
          text-transform: none;
          flex: auto;
          text-align: center; }
      #ojh-risk-calculator .ojh-question-and-answers .ojh-question-and-answer .ojh-answer {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        -o-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        margin-left: -0.625rem;
        margin-right: -0.625rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        #ojh-risk-calculator .ojh-question-and-answers .ojh-question-and-answer .ojh-answer .ojh-answer__item {
          -webkit-align-self: flex-start;
          -moz-align-self: flex-start;
          -ms-align-self: flex-start;
          -o-align-self: flex-start;
          align-self: flex-start;
          flex: 0 0 47%;
          text-align: center;
          padding: 0.625rem;
          margin: 0 0.625rem;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #ffffff;
          -webkit-border-radius: 0.3125rem;
          -moz-border-radius: 0.3125rem;
          -ms-border-radius: 0.3125rem;
          -o-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
          -webkit-box-shadow: -3px 3px 3px -2px rgba(122, 122, 122, 0.5);
          -moz-box-shadow: -3px 3px 3px -2px rgba(122, 122, 122, 0.5);
          box-shadow: -3px 3px 3px -2px rgba(122, 122, 122, 0.5);
          color: #5c5c5c;
          font-family: "Roboto", sans-serif;
          font-size: 0.875rem;
          line-height: 1.2;
          font-weight: 500;
          text-transform: none; }
          #ojh-risk-calculator .ojh-question-and-answers .ojh-question-and-answer .ojh-answer .ojh-answer__item:hover {
            background-color: #7a7a7a;
            color: #ffffff;
            font-family: "Roboto", sans-serif;
            font-size: 0.875rem;
            line-height: 1.2;
            font-weight: 500;
            text-transform: none; }
          #ojh-risk-calculator .ojh-question-and-answers .ojh-question-and-answer .ojh-answer .ojh-answer__item .ojh-answer__item--active {
            background-color: #7a7a7a;
            color: #ffffff;
            font-family: "Roboto", sans-serif;
            font-size: 0.875rem;
            line-height: 1;
            font-weight: 500;
            text-transform: none; }
          #ojh-risk-calculator .ojh-question-and-answers .ojh-question-and-answer .ojh-answer .ojh-answer__item:nth-child(n+3) {
            margin-top: 1.25rem; }
    #ojh-risk-calculator .ojh-question-and-answers .ojh-question-and-answer + .ojh-question-and-answer {
      margin-top: 2.5rem; }
  #ojh-risk-calculator .ojh-pagination {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    margin-top: 2.5rem;
    width: 100%; }
    #ojh-risk-calculator .ojh-pagination .ojh-pagination__step {
      /* Previous step */
      /* Next step */
      /* Disabled */ }
      #ojh-risk-calculator .ojh-pagination .ojh-pagination__step.ojh-pagination__step--previous {
        color: #5c5c5c;
        font-family: "Roboto", sans-serif;
        font-size: 0.8125rem;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase; }
        #ojh-risk-calculator .ojh-pagination .ojh-pagination__step.ojh-pagination__step--previous:hover {
          color: #00c0ff;
          font-family: "Roboto", sans-serif;
          font-size: 0.8125rem;
          line-height: 1;
          font-weight: 500;
          text-transform: uppercase; }
        #ojh-risk-calculator .ojh-pagination .ojh-pagination__step.ojh-pagination__step--previous.ojh-pagination__step--disabled:hover {
          color: #5c5c5c;
          font-family: "Roboto", sans-serif;
          font-size: 0.8125rem;
          line-height: 1;
          font-weight: 500;
          text-transform: uppercase; }
      #ojh-risk-calculator .ojh-pagination .ojh-pagination__step.ojh-pagination__step--next {
        color: #00c0ff;
        font-family: "Roboto", sans-serif;
        font-size: 0.8125rem;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase; }
        #ojh-risk-calculator .ojh-pagination .ojh-pagination__step.ojh-pagination__step--next:hover {
          color: #00c0ff;
          font-family: "Roboto", sans-serif;
          font-size: 0.8125rem;
          line-height: 1;
          font-weight: 500;
          text-transform: uppercase; }
        #ojh-risk-calculator .ojh-pagination .ojh-pagination__step.ojh-pagination__step--next.ojh-pagination__step--disabled:hover {
          color: #00c0ff;
          font-family: "Roboto", sans-serif;
          font-size: 0.8125rem;
          line-height: 1;
          font-weight: 500;
          text-transform: uppercase; }
      #ojh-risk-calculator .ojh-pagination .ojh-pagination__step.ojh-pagination__step--disabled {
        opacity: 0.2;
        cursor: not-allowed; }

/* RESULTS */
#ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress {
  -webkit-box-shadow: 2px 2px 2px 0px rgba(122, 122, 122, 0.5);
  -moz-box-shadow: 2px 2px 2px 0px rgba(122, 122, 122, 0.5);
  box-shadow: 2px 2px 2px 0px rgba(122, 122, 122, 0.5);
  margin: 20px auto;
  padding: 0;
  width: 100%;
  height: 50px;
  overflow: hidden; }
  #ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress .bar {
    position: relative;
    float: left;
    height: 100%; }
  #ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress.primary {
    background: #ffffff; }
    #ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress.primary .bar {
      background: #52bff9; }
  #ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress.warning {
    background: #ffffff; }
    #ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-progress.warning .bar {
      background: #f4ad3d; }
#ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-results-title {
  font-size: 15px;
  font-weight: 700;
  color: #52bff9;
  padding-bottom: 10px; }
#ojh-risk-calculator .ojh-risk-calculator-results .ojh-risk-calculator-results-description {
  font-size: 14px;
  font-weight: 700;
  color: #7a7a7a; }
