/* FORM ELEMEMTS */

#watu_quiz {
  margin: 2rem 0 5rem;
  width: 100%;
  font-size: 18px;
  p {
    line-height: 25px;
  }

  /* QUESTIONS AND ANSWERS */
  .quiz-form {
    width: 100%;
    margin-bottom: 2.5rem;

    .firstStep {
        input[type="radio"] + label {
            display: inline-block !important;
            margin-bottom: 15px;
        }
    }

    .watu-question {
      @include display-flex ();
      @include flex-direction (row);
      @include flex-wrap(wrap);
      @include justify-content (space-between);

      /* QUESTION */
      .question-content {
        flex: 0 0 100%;
        margin-top: 0;
        @include box-sizing (border-box);
        background-color: $ojh-blue;
        padding: 1.25rem 0.625rem;

        p {
          position: relative;
          margin-bottom: 0;
          @include font-mix ($ojh-white, $ojh-body-font, 1.3rem, 1.2, 400, none);
          flex: auto;
          padding-left: 4rem;
          text-align: center;

          .watu_num {
            position: absolute;
            left: 0.625rem;
            top: 44%;
            @include translatey (-50%);
            @include display-flex ();
            @include flex-direction (row);
            @include align-items (center);
            @include justify-content (center);
            width: 2.5rem;
            height: 2.5rem;
            @include font-mix ($ojh-white, $ojh-body-font, 3rem, 1, 700, none);
            text-align: center;
          }
        }
      }

      /* ANSWER */
      div:not([class]) {
        @include align-self (flex-start);
        @include display-flex ();
        @include flex-direction (row);
        @include align-items (center);
        @include justify-content (center);
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 2.5rem;
        text-align: center;
        margin-top: 2rem;
        @include box-sizing (border-box);
        background-color: $ojh-white;
        @include border-radius(0.3125rem);
        @include box-shadow (3px, 4px, 3px, -2px, rgba($ojh-gray, 0.5));
        @include font-mix ($ojh-medium-gray, $ojh-body-font, 1.3rem, 1.2, 400, none);
        @media (min-device-width: 920px) {
          flex: 0 0 48%;
          max-width: 48%;
          cursor: pointer;
        }
        .answer span {
            padding: 0;
        }
        input[type=radio],
        input[type=checkbox] {
          display: none !important;
        }

        label {
          display: inline-block !important;
          width: 100%;
          padding: 1.1rem;
        }

        &:hover {
          background-color: $ojh-gray;
          @include font-mix ($ojh-white, $ojh-body-font, 1.3rem, 1.2, 400, none);
          label {
            cursor: pointer;
          }
        }

        &.checked {
          background-color: $ojh-gray;
          @include font-mix ($ojh-white, $ojh-body-font, 0.875rem, 1.2, 500, none);
        }
      }

      .watu-textarea {
        font-family: $ojh-body-font;
        padding: 8px;
        font-size: 18px;
        color: $ojh-medium-gra;
      }
    }

    .watu-question + .watu-question {
      margin-top: 2.8rem;
    }
  }
}