/* FORM ELEMEMTS */

#watu_quiz {
  margin-top: 2.5rem;
  width: 100%;

  /* QUESTIONS AND ANSWERS */
  .quiz-form {
    width: 100%;
    margin-bottom: 2.5rem;

    .watu-question {
      @include display-flex ();
      @include flex-direction (row);
      @include flex-wrap(wrap);
      @include justify-content (center);

      /* QUESTION */
      .question-content {
        flex: 0 0 100%;
        margin-top: 0;
        @include box-sizing (border-box);
        background-color: $ojh-blue;
        padding: 1.25rem 0.625rem;

        p {
          position: relative;
          margin-bottom: 0;
          @include font-mix ($ojh-white, $ojh-body-font, 0.875rem, 1.2, 500, none);
          flex: auto;
          padding-left: 2.5rem;
          text-align: center;

          .watu_num {
            position: absolute;
            left: 0.625rem;
            top: 50%;
            @include translatey (-50%);
            @include display-flex ();
            @include flex-direction (row);
            @include align-items (center);
            @include justify-content (center);
            width: 2.5rem;
            height: 2.5rem;
            @include font-mix ($ojh-white, $ojh-body-font, 1.25rem, 1, 700, none);
            text-align: center;
          }
        }
      }

      /* ANSWER */
      div:not([class]) {
        @include align-self (flex-start);
        @include display-flex ();
        @include flex-direction (row);
        @include align-items (center);
        @include justify-content (center);
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 2.5rem;
        text-align: center;
        margin-top: 1.25rem;
        padding: 0.625rem;
        @include box-sizing (border-box);
        background-color: $ojh-white;
        @include border-radius(0.3125rem);
        @include box-shadow (-3px, 3px, 3px, -2px, rgba($ojh-gray, 0.5));
        @include font-mix ($ojh-medium-gray, $ojh-body-font, 0.875rem, 1.2, 500, none);
        @media (min-device-width: 920px) {
          flex: 0 0 48%;
          max-width: 48%;
        }
        @media (min-device-width: 1200px) {
          flex: 0 0 24.0625rem;
          max-width: 24.0625rem;
        }

        input[type=radio],
        input[type=checkbox] {
          display: none !important;
        }

        label {
          display: inline-block !important;
          width: 100%;
        }

        &:hover {
          background-color: $ojh-gray;
          @include font-mix ($ojh-white, $ojh-body-font, 0.875rem, 1.2, 500, none);
          label {
            cursor: pointer;
          }
        }

        &.checked {
          background-color: $ojh-gray;
          @include font-mix ($ojh-white, $ojh-body-font, 0.875rem, 1.2, 500, none);
        }

        &:nth-of-type(odd) {
          @media (min-device-width: 920px) {
            margin-left: 1.25rem;
          }
          @media (min-device-width: 1200px) {}
        }
      }
    }

    .watu-question + .watu-question {
      margin-top: 2.5rem;
    }
  }
}