/*--------------------------------------------------------------
	General
--------------------------------------------------------------*/

/*--------------------
1. General
--------------------*/

*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "Hind", Sans-serif;
	background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	letter-spacing: -0.4px;
	font-family: "Montserrat", Sans-serif;
	color: #232323;
	margin: 20px 0 10px 0;
}

p {

font-family: 'Hind', sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 150%;
/* letter-spacing: 0.2px; */
color: #46464c;
/*    
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #787882;
*/
}
* > p:first-child {
  margin-top: 0;
}

* > p:last-child {
  margin-bottom: 0;
}

input, textarea {
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid #838792;
}

.text-light p {
color: #B1B1B1;	
}

a:hover, a:focus, a:active, a.active {
	color: #fbcc3f;
	text-decoration: none;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}

::selection {
	text-shadow: none;
	background-color: #fbcc3f;
}

.ot-section {
	padding: 50px 0;
	border-top: 1px solid #f7f7f7;
}

.short-section {
	border-top: 1px solid #5D5D5F;
	border-bottom: 1px solid #5D5D5F;
	padding: 50px 0;
}

@media (min-width: 768px) {
	.ot-section {
		padding: 80px 0;
	}
	.short-section {
		border-top: 1px solid #5D5D5F;
		border-bottom: 1px solid #5D5D5F;
		padding: 70px 0;
	}
}

#portfolio {
	padding-bottom: 90px;
}

.ot-section.text-light {
	border-top: none;
}

ul {
	padding-left: 0;
	padding-top: 10px;	
}

ul li {
    list-style: none;
    padding-bottom: 10px;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #000000;
}

/*** reset ***/

figure {
	margin: 0;
}
img {
	vertical-align: middle;
}


/*** customizer ***/

article .customize-partial-edit-shortcut button, article .widget .customize-partial-edit-shortcut button {
	left: -35px !important;
	top: -2px !important;
}

/*--------------------
1.1 Structure
--------------------*/

/*** clearfix ***/

.row-0-gutter {
    margin-left: -13px;
    margin-right: -13px;
}

.col-0-gutter {
	padding-left: 0;
	padding-right: 0;
}

/*** header ***/
.navbar-header h1 {
	font-size: 21px;
	font-weight: 700;
	margin: 8px 0 0 0;
	text-align: center;
}

.navbar-header h1 a {
	color: #1a1a1a;
}

@media (min-width: 768px) {
	.navbar-header h1 a {
		color: #f8f8f8;
	}
	.ot-dark-text .navbar-header h1 a {
		color: #1a1a1a;
	}
}

.navbar-header .description {
	font-size: 13px;
	color: #dadada;
}

.ot-dark-text .navbar-header .description {
	color: #1a1a1a;
}

/*** container ***/

.container-fluid:after, .ot-container:after, .ot-page-wrapper:after, .menu:after, nav:after, .navbar:after, .navbar-header:after, .row:after, .site-content:after {
	clear: both;
}

.container-fluid:before, .container-fluid:after, .ot-page-wrapper:before, .ot-page-wrapper:after, .site-content:before, .site-content:after, .ot-container:before, .ot-container:after, .menu:before, .nav:after , nav:before, nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .row:before, .row:after {
	display: table;
	content: " ";
}

.ot-container, .ot-page-wrapper {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

body.home:not(.blog) .ot-page-wrapper, body.home .content-area .site-main {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

body.home .content-area .site-main {
	padding-right: 15px;
	padding-left: 15px;
}

.col-md-3, .col-md-4, .col-md-6 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 768px) {
	.ot-container, .ot-page-wrapper {
		width: 750px;
	}
	body.home .content-area .site-main {
		width: 750px !important;
	} 
}
@media (min-width: 992px) {
	.ot-container, .ot-page-wrapper {
		width: 970px;
	}
	body.home:not(.blog) .content-area .site-main {
		width: 970px !important;
	} 
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-11 {
		width: 91.66666667%;
	}
	.col-md-10 {
		width: 83.33333333%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-8 {
		width: 66.66666667%;
	}
	.col-md-7 {
		width: 58.33333333%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-4 {
		width: 33.33333333%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-2 {
		width: 16.66666667%;
	}
}
@media (min-width: 1200px) {
	.ot-container, .ot-page-wrapper {
		width: 1170px;
	}
	.content-area {
		float: left;
		width: 66.66666667%;
	}
	body.home:not(.blog) .content-area .site-main {
		width: 1170px !important;
	} 
	.ot-sidebar {
		float: left;
		width: 33.33333333%;
		position: relative;
		min-height: 1px;
		padding-left: 60px;
	}
}

body.no-sidebar .content-area {
	width: 100%;
}
body.home .content-area {
	padding: 80px 0;
} 
body.left-sidebar .ot-sidebar {
	padding-left: 0px;
	padding-right: 60px;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.text-center {
	text-align: center;
}

/*** grid ***/

.ot-widget {
	padding: 0 15px 30px 15px;
}

.widget-count-2 .ot-widget {
	float: left;
	width: 50%;
}

.widget-count-3 .ot-widget {
	float: left;
	width: 33%;
}

.widget-count-4 .ot-widget {
	float: left;
	width: 25%;
}

@media (max-width:768px) {
	.widget-count-2 .ot-widget, .widget-count-3 .ot-widget, .widget-count-4 .ot-widget {
		float: left;
		width: 100%;
	}
}

.blog .slider-container {
	height: 230px;

}
/*--------------------
2. Orange Navigation
--------------------*/

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}

.navbar-fixed-top {
	margin-bottom: 20px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}

.navbar-fixed-top {
	top: 0;
}

.navbar-fixed-bottom {
	bottom: 0;
}

.container-fluid>.navbar-header, .ot-container>.navbar-header {
	margin-right: -15px;
	margin-left: -15px;
}

.navbar nav ul {
	list-style: none;
	padding: 0px;
	margin: 0;
}

.menu > li > a {
	position: relative;
	line-height: 20px;
	display: block;
	padding: 10px 15px;
}

.menu > li {
    position: relative;
    display: block;
}

.navbar .menu li.menu-item-has-children i {
	display: none;
}

.navbar .menu ul.sub-menu {
	display: none;
	list-style: none;
	margin: 0;
	position: absolute;
	z-index: 1;
	min-width: 180px;
	white-space: nowrap;
	background-color: #fff;
	-webkit-box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.2);
	box-shadow: -1px 2px 8px 0px rgba(0,0,0,0.2);
}

.navbar .menu li:hover > ul.sub-menu {
	display: block;
}

.sub-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.site-navigation-toggle {
	display: table-cell;
	vertical-align: middle;
	padding: 20px 30px;
	cursor: pointer;
	border-right: 1px solid #dcdcdc;
}

.site-navigation-toggle i {
	color: #1a1a1a;
}

.asterion-offcanvas-wrap .close {
	cursor: pointer;
	font-size: 22px;
	display: block;
	padding: 20px 30px;
	border-bottom: 1px solid #dcdcdc;
}

@media (min-width: 768px) {
	.site-navigation-toggle {
		display: none;
	}
	.navbar-header {
		float: left;
	}
	.container-fluid>.navbar-header, .ot-container>.navbar-header {
		margin-right: 0;
		margin-left: 0;
	}
	.menu-right {
		float: right!important;
		margin-right: -15px;
	}
	.nav .menu > li {
		float: left;
	}
	.navbar .menu > li.menu-item-has-children > a:after {
		display: inline-block;
		vertical-align: middle;
		font-family: "FontAwesome";
		content: "\f107";
		padding-left: 5px;
		font-size: 11px;
		line-height: 1;
		font-style: normal;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
}

/*** mobile menu ***/

@media (max-width: 768px) {
	.asterion-primary-nav {
		display: none;
	}
	.navbar .navbar-header {
		display: table-cell;
	}
	.navbar .container {
		padding-right: 0px;
		padding-left: 0px;
	}
	.navbar-header .description {
		display: none;
	}
}

.asterion-offcanvas-wrap {
	background-color: #fff;
	color: #000;
	position: fixed;
	width: 100%;
	left: -100%;
	height: 100%;
	z-index: 99999;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
	overflow-y: scroll;
}

.asterion-offcanvas-wrap ul.sub-menu {
	display: none;
}

.asterion-offcanvas-wrap nav ul li.menu-item-has-children i {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	color: #000;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.2s;
	-o-transition: -o-transform 0.2s;
	transition: transform 0.2s;
}

.asterion-offcanvas-wrap nav ul li.show-sub-menu > i {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.asterion-offcanvas-wrap.active {
	left: 0;
}

/*** navbar customization ***/

.admin-bar .navbar-fixed-top {
	margin-top: 32px;
}
.admin-bar .navbar-fixed-top.navbar-shrink {
	margin-top: 32px;
}

@media (max-width:768px) {
	.admin-bar .navbar-fixed-top {
		margin-top: 46px;
	}
	.admin-bar .navbar-fixed-top.navbar.navbar-shrink {
		margin-top: 0px;
	}
	.navbar {
		box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.07);	
	}
}

.navbar {
	background-color: #fff;
	border-color: transparent
}
.navbar .navbar-header {
	padding: 13px 15px;
	transition: all ease-in-out .3s;
}

.menu li a {
	font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 15px 15px 15px 30px;
	transition: all ease-in-out .3s;
	color: #1a1a1a;
}

.navbar .menu li a {
	padding: 30px 15px;
	color: #fff;
}

.ot-dark-text .menu li a {
	color: #1a1a1a;
}

.navbar .menu li a:hover,.navbar .menu li a:focus {
	color: #fff;
	outline: 0
}

.ot-dark-text .navbar .nav li a:hover,.ot-dark-text .navbar .nav li a:focus {
	color: #1a1a1a;
	outline: 0
}

.navbar .navbar-nav>.active>a {
	color: #444ec1;
	background-color: rgba(0, 0, 0, 0);
}
.navbar .navbar-nav>a:hover,.navbar .navbar-nav>a:focus {
	color: #fff;
	background-color: #fbcc3f
}

.sub-menu {
	background-color: #fff;
	border: none;
	padding: 0px;
	margin: 0px;
}

.navbar .sub-menu {
	background-color: rgba(37, 37, 37, 0.9);
}

.ot-dark-text .sub-menu {
	background-color: #fff;
}

.sub-menu>li>a {
	padding: 15px 15px 15px 45px;
}

.navbar .sub-menu>li>a {
	padding: 15px 20px;
	color: #1a1a1a;
}

.nav ul {
	padding: 0px
}

.nav ul li {
	padding: 0px;
	margin-bottom: -2px;
	position: relative;
}

.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:focus, .navbar .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0);
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0);
}

.ot-dark-text .navbar .navbar-nav>.active>a, .ot-dark-text .navbar .navbar-nav>.active>a:focus, .ot-dark-text .navbar .navbar-nav>.active>a:hover {
	color: #1a1a1a;
}

@media (min-width:768px) {
	ul.menu li.dropdown:hover > ul.sub-menu {
		display: block;
	}

	.sub-menu>li>a:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}

	.navbar ul ul li:hover > ul, .navbar ul ul li.focus > ul {
		left: 100%;
		top: 0;
	}

	.navbar
	{
		margin-bottom: 0px;
		background-color: rgba(255, 255, 255, 0);
		padding: 0px;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;
		border-bottom: 1px solid rgba(255, 255, 255, 0.35);

		-webkit-transition: background-color all .3s;
		-moz-transition: background-color all .3s;
		-o-transition: background-color ease-in-out .5s;
		transition: background-color ease-in-out .5s;

	}
	.navbar.ot-dark-menu {
		background-color: rgba(255, 255, 255, 0.50);
	}
	.navbar .navbar-header {
		padding: 13px 0;
	}
	.navbar-fixed-top.navbar-shrink .nav li a {
		padding: 20px 15px;
	}
	.navbar-fixed-top.navbar-shrink {
		background-color: rgba(33, 34, 35, 0.9);
		padding: 0px;
	}
	.navbar-fixed-top.navbar-shrink .navbar-header {
		padding: 0px;
	}
	.ot-dark-text .navbar-fixed-top.navbar-shrink {
		background-color: #fff;
	}
	.navbar .menu > li:not(.menu-item-has-children) a:after {
		position: absolute;
		content: '';
		left: 50%;
		right: 50%;
		opacity: 0;
		bottom: -2px;
		border-bottom: 3px solid;
		border-color: #fbcc3f;
		-webkit-transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
		-moz-transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
		transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
	}
	.navbar .menu > li:not(.menu-item-has-children):hover a:after {
		opacity: 1;
		left: 0;
		right: 0;
		-webkit-transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
		-moz-transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
		transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);	
	}

	.navbar .menu > li.menu-item-has-children .sub-menu:after {
		position: absolute;
		content: '';
		left: 50%;
		right: 50%;
		opacity: 0;
		top: -1px;
		border-bottom: 3px solid;
		border-color: #fbcc3f;
		-webkit-transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
		-moz-transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
		transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
	}
	.navbar .menu > li.menu-item-has-children:hover .sub-menu:after {
		opacity: 1;
		left: 0;
		right: 0;
		-webkit-transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
		-moz-transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
		transition: all 0.4s cubic-bezier(.47,-.41,.19,1.44);
	}

	.navbar .menu li li a:after {
		border-bottom: none;
	}

}

.custom-logo {
	margin: 10px 0;
}

/*--------------------
3. Header
--------------------*/

.intro-image {
	background-image: url(images/bg.jpg);
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff;
}

.dark-overlay .intro-image {
	color: #fff;
}

.intro-blog, .intro-blog .dark-overlay {
	height: 50px;
}

.intro-parallax {
	background-attachment: fixed;
	/*	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover; */
	width: 100%;
}

.home .intro-parallax {
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.intro-image .intro-text {
	padding-top: 100px;
	padding-bottom: 50px;
	position: relative;
}

.home .dark-overlay {
	background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
	.intro-image .intro-text {
		padding: 310px 200px 320px 200px;
    }
	.intro-blog, .intro-blog .dark-overlay {
		height: 230px;
	}
}

.intro-image .intro-text .intro-lead-in {
	display: inline-block;
	/* background-color: rgba(255, 255, 255, 0.65); */
	margin-bottom: 25px;
	padding: 4px 20px;
	font-size: 19px;
	color: #1a1a1a;
	font-weight: 500;
	line-height: 40px;
	position: relative;
}

.ot-light-text .intro-text .intro-heading, .ot-light-text .intro-text .intro-lead-in {
	color: #fff;
}

.intro-image h3:after {
	left: 50%;
	z-index: 1;
	width: 100px;
	height: 1px;
	content: " ";
	bottom: -30px;
	margin-left: -50px;
	text-align: center;
	position: absolute;
	background-color: #2f2f2f;
}

.intro-text .btn-xl {
	box-shadow: none;
	border: 2px solid #3e3e3e;
	color: #3e3e3e;
	background-color: rgba(244, 245, 247, 0);
}

.ot-light-text .intro-text .btn-xl {
	border: 2px solid;
	border-color: #fff;
	color: #fff;
}

@media (min-width: 768px) {
	.intro-image .intro-text .intro-lead-in {
		font-size: 24px;
		line-height: 20px;
		margin-bottom: 30px;
	}
}

.intro-image .intro-text .intro-heading {
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 25px;
	letter-spacing: -2px;
	word-spacing: 4px;
	color: #1a1a1a;
}

.ot-light-text .intro-text .intro-heading {
	color: #fff;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

@media (min-width: 768px) {
	.intro-image .intro-text .intro-heading {
		line-height: 120%;
		font-size: 36px;
		margin-bottom: 50px;
	}
}

header {
	margin-bottom: 60px;
}

.home.page header, .page-template-clean-page header {
	margin-bottom: 0px;
}

/*--------------------
4. Sections
--------------------*/

.section-title h2 {
	display: inline-block;
	font-size: 27px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	color: #1e1e1f;
	font-weight: 700;
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.section-title h2:after {
    left: 50%;
    z-index: 1;
    width: 40px;
    height: 2px;
    content: " ";
    bottom: -5px;
    margin-left: -20px;
    text-align: center;
    position: absolute;
    background: #2f2f2f;
}

.text-light .section-title h2:after {
	background: #fffff3;
}

.text-light .section-title h2 {
	color: #fff;
}

.section-title {
	margin-bottom: 40px;
}

.section-title p {
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	margin: 20px 100px 10px 100px;
}

@media (max-width:768px) {
	.section-title p {
		margin: 20px 10px 60px 10px;
	}
}

/*--------------------
4.2. Main
--------------------*/

.section-text h3 {
	margin: 0 0 30px;
	font-weight: 800;
	color: #5D5D5D;
}

.section-text h4 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 17px;
}

.text-light .section-text h3 {
	color: #dfdfdf;
}

.text-light .section-text h4 {
	color: #dfdfdf;
}

/*** about socials ***/

.ot-about-socials a {
	color: #1e1e1f;
	margin: 0 20px;
}

.ot-about-socials i {
	font-size: 18px;
}

/*--------------------
4.3. Features
--------------------*/

.widget_ot_widgets_features {
	display: inline-block;
	vertical-align: top;
}

.widget_ot_widgets_features .ot-features-title {
	font-size: 16px;
	font-weight: 500;	
}

.widget_ot_widgets_features p {
	font-size: 15px;
}

/*--------------------
4.3. Portfolio
--------------------*/

/*---- portfolio-items ----*/

.ot-portfolio-item {
	width: 33.33333333%;
	min-height: 1px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.ot-portfolio-item figure {
	position: relative;
	background-color: #1a1a1a;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.ot-portfolio-item figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

.ot-portfolio-item figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;	
}

.ot-portfolio-item figure figcaption h2, .ot-portfolio-item figure figcaption p {
	color: #fff;
}

.ot-portfolio-item figure figcaption h2 {
	font-size: 26px;
}

.ot-portfolio-item figure figcaption p {
	font-size: 13px;
}

.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ot-portfolio-item figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

/*** effect Milo ***/

figure.effect-milo {
	background: #2e5d5a;
}

figure.effect-milo img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-milo:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h2 {
	opacity: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(40px,0,0);
	transform: translate3d(40px,0,0);
}

figure.effect-milo p {
	padding: 0 0 0 10px;
	width: 50%;
	border-left: 1px solid #fff;
	text-align: left;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}

figure.effect-milo:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*** effect Bubba ***/

figure.effect-bubba {
	background: #9e5406;
}

figure.effect-bubba img {
	opacity: 1;
	width: 100%;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	opacity: 0;
	padding-top: 9%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*** effect Apollo ***/

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-105%,0);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,105%,0);
}

figure.effect-apollo h2 {
	padding-top: 9%;
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-apollo:hover h2 {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-apollo p {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid #fff;
	color: #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

/*** effect Jazz ***/
figure.effect-jazz:hover img {
	opacity: 0.7;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-jazz figcaption::after, figure.effect-jazz img, figure.effect-jazz p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz p {
	padding: 0.5em 2em;
	text-transform: none;
	font-size: 0.85em;
	opacity: 0;
}

figure.effect-jazz h2 {
	padding-top: 9%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-jazz h2, figure.effect-jazz p {
	color: #fff;
	opacity: 0;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}

figure.effect-jazz figcaption::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

figure.effect-jazz:hover figcaption::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

figure.effect-jazz:hover h2, figure.effect-jazz:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

/*** effect Jazz ***/

figure.effect-goliath {
	background: #4e4e52;
}

figure.effect-goliath img,
figure.effect-goliath h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-goliath img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-goliath h2,
figure.effect-goliath p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0px 10px;
}

figure.effect-goliath p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.effect-goliath:hover img {
	-webkit-transform: translate3d(0,-40px,0);
	transform: translate3d(0,-40px,0);
}

figure.effect-goliath:hover h2 {
	-webkit-transform: translate3d(0,-50px,0);
	transform: translate3d(0,-50px,0);
}

figure.effect-goliath:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media (max-width:768px) {
	.ot-portfolio-item {
		width: 100%;
		float: left;
	}
}

/*--------------------
4.4. Dark Short section (counters, quote, etc)
--------------------*/

.text-dark {
	color: #1a1a1a;
}

.text-light {
	color: #fff;
}

.counter-item h2 {
	color: #fff;
	font-size: 70px;
	font-weight: 200;
	font-family: "Roboto", Sans-serif;
}

.counter-item h6 {
	color: #FFF;
	font-size: 16px;
	margin: 10px 0 0 0;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.counter-item h2 {
		font-size: 50px;
	}
	.counter-item {
		margin-bottom: 50px;
	}
}

/*--------------------
4.5. Testimonials Slider
--------------------*/

.testimonials-item {
	position: relative;
}

.testimonials-item .ot-testimonials-text {
	position: relative;
	margin: 0 100px;
	background-color: #ffffff;
	border: 1px solid #ececec;
	border-radius: 10px;
	padding: 35px 70px;
}

.testimonials-item .ot-testimonials-text p {
	font-size: 16px;
	color: #818184;
	font-weight: 300;
}

.testimonials-item .ot-testimonials-text p:before {
	position: absolute;
	content: "\201C";
	font-size: 85px;
	font-family: Georgia, "Times New Roman", Times, serif;
	top: 53px;
	left: 25px;
	opacity: .3;
}

.testimonials-item .ot-testimonials-text:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	border: 15px solid transparent;
	border-top: 15px solid rgba(255,255,255,0.95);
}

.testimonials-item h3 {
	margin: 10px 80px 25px;
	font-weight: 400;
	font-size: 15px;
	text-align: center;
}

.testimonials-item .ot-testimonials-image {
	margin-top: 35px;
}

.testimonials-item .ot-testimonials-image img {
	width: 80px;
	height: 80px;
	display: inline;
	border-radius: 50%;
}


/*--------------------
Team
--------------------*/
.widget_ot_widgets_team {
	display: inline-block;
	vertical-align: top;
}

.ot-team-text {
	padding: 0 25px 0 25px;
}

/*--------------------
Contacts
--------------------*/
@media (max-width:768px) {
	#contact .section-text {
		text-align: center;
		margin-bottom: 30px;
	}
}

.address-details {
	margin: 20px 0 0;
}

.address-details h4 {
	font-weight: 500;
	font-size: 16px;
	border-bottom: 1px solid #676767;
	display: inline-block;
	padding-bottom: 5px;
}

.ot-address {
	text-align: right;
}

/*--------------------
Latest posts
--------------------*/

#latest-posts .ot-blog-post {
	padding: 15px 15px;
}

#latest-posts .ot-blog-post-body {
	background-color: #fff;
	padding: 20px;
}

#latest-posts.ot-bg-white .ot-blog-post-body {
	padding: 20px 0;
}

#latest-posts .ot-blog-post-body h2 {
	margin: 0px 0px 25px;
	line-height: 0.9;
}

#latest-posts .ot-blog-post-body h2 a {
	font-weight: 700;
	font-size: 18px;
	color: #232323;
}

#latest-posts .ot-blog-post-body .btn {
	margin: 15px 0 0 0;
}

/*--------------------------------------------------------------
	Blog post
--------------------------------------------------------------*/
@media (max-width:768px) {
	#blog {
		padding: 0 20px;
	}
}

.blog-post {
	position: relative;
	margin-bottom: 65px;
	padding-bottom: 65px;
	border-bottom: 1px solid #d4d5dc;
}
.blog-post:after {
	position: absolute;
	font-size: 18px;
	line-height: 20px;
	content: "\f06c";
	display: inline-block;
	font-family: FontAwesome;
	font-weight: normal;
	background-color: #fff;
	color: #c7c7c7;
	bottom: -10px;
	left: 50%;
	padding: 0 10px;
	transform: translateX(-50%);
}

.home .blog-post {
	padding-bottom: 0px;
	border-bottom: none;
}

.home .blog-post:after {
	content: "";
}

.blog-post.sticky {
	border: 1px solid #EAEAEA;
	padding: 30px 50px 55px 50px;
}

.blog-post .blog-post-image {
	margin-bottom: 45px;
}

.blog-post .blog-post-body .entry-content {
	overflow: hidden;
}

.blog-post .blog-post-body .entry-title {
	font-weight: 600;
	margin: 0;
	padding: 0 0 25px 0px;
	text-align: center;
	font-size: 29px;
	line-height: 40px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.blog-post .blog-post-body .entry-title a {
	color: #27282b;
}
.home .blog-post .blog-post-body .entry-title {
	font-size: 27px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	color: #1e1e1f;
	font-weight: 700;
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.home .blog-post .blog-post-body .entry-title:after {
left: 50%;
    z-index: 1;
    width: 40px;
    height: 2px;
    content: " ";
    bottom: -5px;
    margin-left: -20px;
    text-align: center;
    position: absolute;
    background: #2f2f2f;
}
.blog-post .blog-post-body p {
	text-align: justify;
}
.blog-post .blog-post-body > a {
	color: #2A2A2B;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.blog-post .blog-post-body a:hover  {
	color: #fbcc3f;
}

.blog-post .blog-post-body p a {
	color: #949494;;
}

.blog-post .post-cats a:first-child {
	border-left: none;
	margin-left: 0px;
	padding: 5px 0 5px 0px;
}

.blog-post .post-cats {
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
}

.blog-post .post-cats a {
	display: inline-block;
	margin: 0 0 5px 5px;
	padding: 5px 0 5px 10px;
	text-align: center;
	color: #95959A;
	border-left: 1px solid #dfdfdf;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.blog-post .post-date {
	margin: 5px 0 20px;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	color: #B1B1B1;
}
.blog-post .post-date a {
	color: #b3b3b3;
}
.blog-post .post-date a:hover {
	color: #fbcc3f;
}
.blog-post .post-date span {
	padding-left: 15px;
	padding-right: 15px;
}
.blog-post .post-date span:first-child {
	padding-left: 0;
	padding-right: 15px;
}
.blog-post .post-date i {
	padding-right: 5px;
	font-size: 12px;
}
.blog-post .post-meta {
	margin: 10px 0 35px;
	font-weight: 400;
	color: #b3b3b3;
}
.blog-post .post-comments-off {
	color: #B5B5B5;
}
.blog-post .post-meta span {
	margin-right: 15px;
}
.blog-post .post-meta i {
padding-right: 5px;
    font-size: 14px;
}
.blog-post .post-meta span a {
	color: #b3b3b3;
}

.blog-post .mz-entry-post-meta {
	margin: 50px 0 30px;
	font-weight: 500;
	text-align: left;
}
.blog-post .mz-entry-post-meta span {
	padding: 8px 15px;
}
.blog-post .mz-entry-post-meta i {
	padding-right: 15px;
	font-size: 16px;
}

.blog-post .mz-entry-tags {
	margin: 40px 0;
	text-align: left;
}

.blog-post .mz-entry-tags span {
	margin-right: 15px;
	border-right: 1px solid #dfdfdf;
	padding: 8px 12px 8px 0;
	font-size: 13px;
	color: #737373;
}

.blog-post .mz-entry-tags a {
	margin-right: 15px;
	color: #A0A0A0;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.4px;
}

.blog-post .mz-entry-tags a:hover {
	color: #fbcc3f;
}

.read-more a:hover {
	background-color: #fbcc3f;
	border-color: #fbcc3f;
	color: #fff !important;
}

.blog-post .read-more {
	text-align: center;
	padding: 40px 0px 0px;
}

.blog-post .blog-post-text {
	text-align: left;
}
.blog-post .blog-post-text p {
	text-align: justify;
	font-size: 17px;
	font-weight: 400;
	line-height: 28px;
	color: #000;
	letter-spacing: 0.1px;
	margin-bottom: 30px;
}

.password-form {
	margin: 80px 0;
}

.post-navigation {
    margin-bottom: 30px;
    overflow: hidden;
}

.post-navigation .nav-links .meta-nav {
	font-size: 16px;
	font-weight: 700;
}

.post-navigation .nav-links a {
	color: #1a1a1a;
}

.post-navigation .nav-links a:hover {
	color: #fbcc3f;
}

.post-navigation .nav-links .meta-nav span {
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: #c7c7c7;
	padding-bottom: 4px;
}

.post-navigation .nav-links .meta-nav-left {
	width: 50%;
	float: left;
	padding-right: 15px;
}

.post-navigation .nav-links .meta-nav-right {
	width: 50%;
	float: left;
	text-align: right;
	padding-left: 15px;
}



/*** Pagination ***/
.page-links span {
	display: inline-block;
	color: #fff;
	background-color: #00afa4;
	border: 1px solid #00afa4;
	padding: 5px 10px;
	margin-left: 2px;
}
.page-links a span {
	background-color: #FFFFFF;
	border: 1px solid #DEDEDE;
	color: #333333;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.page-links a:hover span {
	background-color: #00afa4;
	border: 1px solid #00afa4;
	color: #fff;
}

.pagination {
	display: block;
	text-align: center;
	margin: 0;
}

.page-numbers
{
	margin: 0;
	padding: 20px 0 50px 0;
	list-style-type: none;
	text-align: center;
	display: inline-block;
}

.page-numbers li {
	display: inline-block;
	margin-right: 5px;
}

.page-numbers li a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 11px 18px;
	color: #4E4E4E;
	background-color: #FFF;
	font-size: 12px;
	font-weight: 400;
	border: 1px solid;
	border-color: #e5e5e5;
}

.page-numbers .dots {
	padding: 10px 14px;
}

.page-numbers .current
{
	text-decoration: none;
	text-transform: uppercase;
	padding: 11px 18px;
	color: #FFFFFF;
	background-color: #00afa4;
	font-size: 12px;
	font-weight: 400;
	border: 1px solid;
	border-color: #00afa4;
}

.page-numbers li a:hover {
	color: #fff;
	background-color: #fbcc3f;
	border-color: #fbcc3f;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* widgets container */
.ot-sidebar {
	padding-left: 50px;
}

@media (max-width:768px) {
	.ot-sidebar {
		padding-left: 15px;
	}
}

.ot-sidebar .widget {
	position: relative;
	margin-bottom: 50px;
}
.ot-sidebar .ot-widget-title, .ot-title {
	font-size: 17px;
	color: #1e1e1f;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: 500;
	position: relative;
	margin-bottom: 25px;
	padding-bottom: 20px;
}
.ot-sidebar .ot-widget-title:after, .ot-title:after {
	left: 0px;
	z-index: 1;
	width: 50px;
	height: 1px;
	content: " ";
	bottom: 0px;
	/* margin-left: -20px; */
	text-align: center;
	position: absolute;
	background: #2f2f2f;;
}
.ot-title {
	font-size: 26px;
}

.widget_pages ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_meta ul li,
.widget_nav_menu ul li,
.widget_archive ul li,
.widget_categories ul li {
	font-style: normal;
	text-align: left;
	list-style: none;
	margin: 0px;
	padding: 10px 0;
	font-weight: 500;
	font-size: 14px;
	border-bottom: 1px dotted;
	border-color: #D8D8D8;
}

.widget_pages ul li:last-child,
.widget_recent_comments ul li:last-child,
.widget_recent_entries ul li:last-child,
.widget_meta ul li:last-child,
.widget_nav_menu ul li:last-child,
.widget_archive ul li:last-child,
.widget_categories ul li:last-child {
	margin: 0px;
	padding: 10px 0 0 0;
	border-bottom: none;
}


.ot-sidebar .widget ul {
	padding: 0;
}

.ot-sidebar .widget ul li a {
	font-size: 14px;
	color: #141414;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}

.ot-sidebar .widget ul li a:hover {
	color: #fbcc3f;
}

.ot-widget-about img {
	border-radius: 50%;

}

.widget_categories li span {
	float: right;
}

/* jetpack */

.widget_wpcom_social_media_icons_widget .genericon {
	font-size: 21px !important;
	margin: 5px 15px 0px 0;
	color: #a9a9b1 !important;
}

/* search widget */

.ot-widget .input-group {
	margin-top: 10px;
}

.form-search .form-control {
	padding: 10px 20px;
	height: auto;
	font-size: 15px;
	background-color: #f4f5f7;
	border: 0px solid #dfdfdf;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	font-size: 13px;
	line-height: 1.42857143;
	box-shadow: inset 0 -1px 0 0 #cbced4;
}
.form-search .form-control:focus {
    outline: none;
	box-shadow: inset 0 -1px 0 0 #868686;
}

.form-search .btn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 11px 30px 9px 25px;
}

.form-search .glyphicon-search {
	font-family: FontAwesome;
}

.form-search .glyphicon-search:before {
	content: "\f002";
}

/* Restyle selects */
.ot-widget select {
	margin-top: 10px;
	width: 100%;
	padding: 5px 10px;
	font-size: 15px;
	background-color: #f4f5f7;
	border: 1px solid #dfdfdf;
	border-radius: 5px;	
}

.ot-widget select:focus {
	background-color: #f4f5f7;
	border: 1px solid #808080;
	outline: none;
}

/* WP default calendar */
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	text-align: right;
	color: #636E88;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 15px;
}
#wp-calendar thead {
	font-size: 10px;
}
#wp-calendar thead th {
	padding-bottom: 10px;
	text-align: center;
}
#wp-calendar tbody {
	color: #676767;
}
#wp-calendar tbody td {
	border: 1px solid #ECECEC;
	text-align: center;
	padding: 8px;
}
#wp-calendar tbody td a {
	color: #131313;
	font-weight: 800;
}
#wp-calendar tbody td:hover {
	background: #fff;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
}
#wp-calendar tfoot #prev {
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 10px;
	text-align: left;
}

/*** Tag Cloud widget ***/

.widget_tag_cloud a {
	padding: 6px 12px;
	display: inline-block;
	font-size: 15px !important;
	color: #141414;
	font-weight: 600;
}

.widget_tag_cloud a:hover {
	background-color: #00afa4;
	border-color: #7DC07B;
	color: #fff;
}

/* widget_recent_entries */
.widget_recent_entries a {

}

/* latest articles widget */
.widget-post {
	display: table;
	margin: 0 0 20px 0;
	width: 100%;
}
.widget-post .post-image {
	float: left;
	width: 90px;
	vertical-align: middle;
	position: relative;
	margin-right: 20px;
}
.widget-post .post-body {
	overflow: hidden;
	text-align: left;
}
.widget-post h2 {
	font-size: 14px;
	font-weight: 600;
}
.widget-post a {
	color: #141414;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
.widget-post a:hover {
	color: #00afa4;
}
.widget-post .post-meta {
	margin-top: 10px;
	color: #B1B1B1;
	font-size: 12px;
}
.widget-post .post-meta span {
	margin-right: 10px;
}

/* wordpress styling */

blockquote {
	position: relative;
	border: 0;
	padding: 0 0 0 50px;
	font-style: italic;
	line-height: 1.6;
}
blockquote:before {
	content: "\201D";
	color: #00afa4;
	font-size: 80px;
	position: absolute;
	left: -15px;
	top: 0;
	line-height: 1;
}
blockquote p {
	margin: 0;
}

/*--------------------------------------------------------------
	Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	margin: 40px 0;
	background-color: #fff;
	padding: 40px;
	border: 1px solid #EAEAEA;
}

.comments-title,
.comment-list,
.comment-reply-title,
.must-log-in,
.comment-respond .comment-form,
.comment-respond iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.comment-respond label {
	color: #4A4A4A;
	font-size: 13px;
}

.comment-respond p {
	margin: 10px 0;
}

.comment-respond .form-submit {
	margin: 30px 0 50px;
	text-align: center;
}

.comments-title {
	border-left: 3px solid #54576B;
	color: #a5a5a5;
	/* text-align: center; */
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 13px;
	padding: 11px 25px;
	margin: 0 0 25px;
	margin-left: -41px;
}

.comment-list,
.comment-list .children {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.comment-list .children {
	margin: 0 0 0 40px;
}

.comment-body {
	padding: 24px 0;
	position: relative;
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #E7E7E7;
}

.comment-content p {
	font-size: 14px;
	line-height: 20px;
}

.comment-author .avatar {
	display: block;
	float: left;
	margin: 0 20px 20px 0;
}

.comment-author .fn {
	word-wrap: break-word;
	font-size: 15px;
	color: #333335;
}

.comment-reply-link,
.comment-reply-login {
	color: #00afa4;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.comment-author .url {
	color: #838388 !important;
}

.says {
	display: none;
}

.no-avatars .comment-author {
	margin: 0 0 5px;
	max-width: 100%;
	position: relative;
}

.no-avatars .comment-metadata,
.no-avatars .comment-content,
.no-avatars .comment-list .reply {
	width: 100%;
}

.comment-list .edit-link {
	margin-left: 20px;
}

.comment-metadata,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
	margin: 5px 0 20px;
}

.comment-metadata {
	margin: 20px 0;
}

.comment-meta {
	overflow: auto;
	color: #CACACA;
}
.comment-meta a {
	color: #CACACA;
}

.comment-meta a:hover {
	color: #555555;
}

.comment-metadata {
	margin: 8px 0 17px;
	font-weight: 500;
	font-size: 12px;
	color: #CCCCCC;
	font-style: italic;
}

.ping-meta {
	color: #a2a2a2;
	font-size: 13px;
	line-height: 2;
}

.comment-awaiting-moderation {
	color: #a2a2a2;
}

.comment-awaiting-moderation:before {
	content: "\f021";
	margin-right: 10px;
	display: inline-block;
	font-family: FontAwesome;
	font-weight: normal;
}

.comment-reply-link:before,
.comment-reply-login:before {
	content: "\f122";
	margin-right: 10px;
	display: inline-block;
	font-family: FontAwesome;
	font-weight: normal;
}

/*** Comment form ***/
.comment-respond {
	margin: 30px 0;
}

.comment .comment-respond {
	margin-bottom: 20px;
	padding: 20px;
}

.comment-reply-title small a {
	color: #131310;
	display: inline-block;
	float: right;
	height: 20px;
	overflow: hidden;
	width: 20px;
}

.comment-reply-title small a:hover {
	color: #ed331c;
	text-decoration: none;
}

.comment-reply-title small a:before {
	content: "\f05c";
	display: inline-block;
	font-family: FontAwesome;
	font-size: 20px;
	font-weight: normal;
}

.sidebar .comment-list .comment-reply-title,
.sidebar .comment-list .comment-respond .comment-form {
	padding: 0;
}

.comment-form .comment-notes {
	margin-bottom: 15px;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
	margin-bottom: 30px;
}

.comment-form [for="author"],
.comment-form [for="email"],
.comment-form [for="url"],
.comment-form [for="comment"] {
	float: left;
	padding: 10px 0;
	width: 100px;
}

.comment-form .required {
	color: #FF8778;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	max-width: 300px;
	width: 60%;
}

.comment-form textarea {
	width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
	color: #686758;
	font-size: 14px;
}

.form-allowed-tags code {
	font-size: 10px;
	margin-left: 3px;
	white-space: pre-wrap;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-top: 24px;
}

.comment-navigation {
	border-bottom: 1px solid #E7E7E7;
	font: 400 14px/22px Roboto, sans-serif;
	margin: 0 auto;
	padding: 20px 0;
	width: 100%;
}

.comment-navigation a {

}

.no-comments {
	background-color: #eeeeee;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.sidebar .no-comments {
	padding-left: 60px;
	padding-right: 376px;
}

.comment-reply-title {
	margin-top: 0;
}

/*--------------------------------------------------------------
	Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
	background-color: #f1f1f1;
	background-clip: padding-box;
	/* stops bg color from leaking outside the border: */
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar */
}

/*--------------------------------------------------------------
	Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
	Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
	Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
	Error box
--------------------------------------------------------------*/
.error-box {
	margin: 30px 0;
}

.error-box h1 {
	margin: 30px 0;
}

/*--------------------------------------------------------------
	Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	margin: 0 4px 4px 0;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 32.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.password-form {
	text-align: center;
}

/*--------------------
5. Footer
--------------------*/

.ot-footer {
	padding: 30px;
	background-color: #000;
	color: #dfdfdf;
}

.ot-footer p {
	color: #B7B7B7;
	margin: 0;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1.6px;
}

.ot-footer a {
	color: #fff;
}

.ot-footer a span {
	color: #23AD21;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: 700;
}

.ot-footer .site-info {
	color: #dfdfdf;
}
/*--------------------
6. Modal
--------------------*/

.modal-content {
	border-radius: 0;	
}
.modal-header .close {
	font-size: 30px;	
}
.modal-title {	
	text-transform: uppercase;
	font-size: 23px;
}

.modal-body {
	padding: 0;
}

.modal-body p {
	margin: 30px 20px;
	color: #2D2D2D;		
}

.modal-works {
font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	margin: 25px 20px;
}

.modal-works span {
	background-color: #fbcc3f;
	margin-right: 15px;
	padding: 5px 10px;
}

/*--------------------
7. Components
--------------------*/

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	color: #fff;
	background-color: #fbcc3f;
	border-color: #f6bf01;
	box-shadow: none;
}

.btn:hover, .wpcf7-submit:hover, .wpcf7-submit:focus, .wpcf7-submit:active, .btn:focus, .btn:active, .btn.active {
	color: #fff;
	background-color: #fbcc3f;
	border-color: #f6bf01;
	box-shadow: none;
}

.btn, .wpcf7-submit, .btn-xl, html input[type=button], input[type=reset], input[type=submit] {
	display: inline-block;
	color: #403838;
	background-color: #f4f5f7;
	padding: 11px 35px 9px 35px;
	margin-bottom: 0;
	font-family: "Hind",sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.5px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border-radius: 40px;
	border: none;
	box-shadow: inset 0 -1px 0 0 #cbced4;
}

 .wpcf7-submit {
	margin-top: 20px;
	padding: 11px 55px 9px 55px;
	font-size: 14px;
	float: right;
}

.btn-xl {
	font-weight: 800;
	font-size: 14px;
	padding: 15px 60px 13px 60px;
}

/* Back to top button
---------------------------------- */
#back-top {
	position: fixed;
	z-index: 1000;
	bottom: 20px;
	right: 30px;
}
#back-top a {
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	background: #A9A9B1;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	background-color: #fbcc3f;
}
/* arrow icon (span tag) */
#back-top i {
	margin-top: 15px;
	font-size: 28px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
#back-top {
	position: fixed;
	bottom: 10px;
	right: 30px;
}
#back-top a {
	width: 40px;
	height: 40px;
}
#back-top i {
	margin-top: 7px;
	font-size: 20px;
}
}

/* Dots */
.slick-dotted.slick-slider
{
	margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 25px;
    height: 5px;
    padding: 0px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: #dfdfdf;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 1px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 5px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;
    background-color: #dfdfdf;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
    background-color: #00afa4;
}

.customizer-display-none {
	display: none;
}

/* Contact Form 7
---------------------------------- */

.wpcf7 .wpcf7-form textarea, .wpcf7 .wpcf7-form input:not([type=submit]) {
	width: 100%;
	padding: 12px 15px;
}

div.wpcf7 {
	margin: 30px 15px 25px 15px;
}

@media (min-width:768px) {

	div.wpcf7 {
		margin: 50px 0 25px 0;
	}

	.wpcf7 .wpcf7-form p:nth-of-type(1) {
		padding-right: 25px;
		width: 50%;
		float: left;
	}

	.wpcf7 .wpcf7-form p:nth-of-type(2) {
		padding-left: 25px;
		width: 50%;
		float: left;
	}

	.wpcf7 .wpcf7-form p:nth-of-type(3) {
		width: 100%;
	}

	.wpcf7 .wpcf7-form input[type=submit] {
		position: absolute;
		display: inline-block;
		transform: translateX(-50%);
		left: 50%;
	}

	.wpcf7 label {
		display: initial;
		font-size: 14px;
		font-weight: 500;
	}
}

.wpcf7 label {
	display: initial;
	font-size: 14px;
	font-weight: 500;
}

.wpcf7 .wpcf7-form textarea, .wpcf7 .wpcf7-form input:not([type=submit]) {
	border: none;
	font-weight: 400;
	color: #44454c;
	border: 1px solid #eaebef;
	border-radius: 5px;	
}

.text-light .wpcf7 .wpcf7-form textarea, .text-light .wpcf7 .wpcf7-form input:not([type=submit]) {
	border: 1px solid #dddee2;
	background-color: #dddee2;
}

/*** SiteOrigin Pagebuilder ***/

